a{color: black !important;}
a:hover{
	color: purple !important;
	text-decoration: none !important;
}
body{
	font-family: ProximaNova !important;
	font-size: 15px !important;
	font-weight: 400 !important;
	line-height: 1.5 !important;
	margin: 0 !important;
}