.an{color: black !important;

	font-family: ProximaNova !important;
	}
.an:hover{
	color: purple !important;
	text-decoration: none !important;
	font-family: ProximaNova !important;
}
.main-container{
	font-family: ProximaNova !important;
	font-size: 15px !important;
	font-weight: 400 !important;
	line-height: 1.5 !important;

}
