.sujanh1{
	font-size :18px ;

	font-family:ProximaNova;
	font-weight: bold;
	float:left;
}
.sujana:hover{
	text-decoration: none;
	color:purple;
}
.img-box{
	
	border-radius: 50%;
	border:1px solid purple;
	
}
.sujanrow{
	margin:auto;
	padding-top: 30px;
}

.logo-box{
	width:100px;
	height: 100px; 
}

.main-box{
	border:2px;
}
.checked{
	color:orange;
}
