h1{
	font-size :18px ;

	font-family:ProximaNova;
	font-weight: bold;
	margin:auto;
	align:left;
}
a:hover{
	text-decoration: none;
	color:purple;
}
.img-box{
	
	border-radius: 50%;
	border:1px solid purple;
	
}
.row{
	margin:auto;
	padding-top: 30px;
}

.logo-box{
	width:100px;
	height: 100px;
	border-width: 2px;
	border-radius:50%;
}

.main-box{
	border:2px;
}
.checked{
	color:orange;
}
